* {
  color: white;
}

.card {
  width: 350px;
  margin: 10px;
  flex-shrink: 0;

  .perks {
    display: flex;
    flex-wrap: wrap;
  }

  .card-subtitle {
    font-size: 13px;
    color: #ccc;
  }
}