.killer_perk {
  max-height: 130px;
  width: 96px;

  img {
    background: top/100% url("perk_rarities/very rare.png") no-repeat;
    height: 96px;
    width: 96px;
  }

  .inactive {
    background: top/100% url("perk_rarities/blank.png") no-repeat;
  }

  p {
    font-size: 12px;
    text-align: center;
  }
}