.idea/
venv/
Dead by Daylight Perk Randomizer/ClientApp/node_modules/
Dead by Daylight Perk Randomizer/bin/
Dead by Daylight Perk Randomizer/obj/
Dead by Daylight Perk Randomizer/Web Scraper/__pycache__/