@media (max-width: 700px) { // Mobile Layout
  main {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 700px) { // Desktop Layout
  main {
    display: grid;
    grid-template-areas: "content aside";
    grid-template-columns: auto 400px;
  }
}

#perk_toggles {
  display: flex;
  justify-content: center;
}

#killer_perk_list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 56px);
  overflow-y: auto;
}