.killer_perk {
  background: center/100% url("perk_rarities/very rare.png");
  height: 96px;
  width: 96px;
  :hover {
    cursor: pointer;
  }
  img {
    height: 96px;
    width: 96px;
  }
}

.inactive {
  background: center/100% url("perk_rarities/blank.png");
}